.header 
{
    height: 80px;
    background-color: aqua;
}
.header_menu
{
    padding-left: 80px;
    padding-right: 80px;
    height: 80px;
    position: relevant;
    background-color: blue; 
}
.heder_logo
{
    display: inline-block;
    height: 100%;
    background-color: coral;
}
.header_logo_img
{
    height: 100%;
    display:block; 
    background-color: darkgreen;
}
.header_menu_set
{
    height: 100%;
    display: inline-block;
    flex-direction: row-reverse;
    float: right;
    background-color: darkred;
}
.header_menu_user
{
    height: 100%;
    display: inline-block;
    background-color: tomato;
}
.user_languge
{
    height: 100%;
}
.user_host
{
    height: 100%;
}
.user_hosting
{
    height: 100%;
}
.user_qna
{
    height: 100%;
}
.user_login
{
    height: 100%;
}
.user_signUp
{
    height: 100%;
}
.usermenu
{
    display: inline-block;
    background-color: yellow;
    margin: auto 0;
}

img { display: block; height: 100%; width: 100% }